# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Project artifacts
models/*.zip
sessions/
roms/*.gb
roms/*.zip

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
*.log
